<template>
  <div>
    <img :src="btnImg" alt="">
    <div class="abs btnBg">
      <img :src="btnBgImgUrl" alt="">
    </div>
  </div>
</template>

<style>
  .btnBg{
        width:100%;
        top:0;
        left:0;
        animation: changeBtnBg 0.8s ease infinite alternate;
    }
    .page2_btnBgbox .btnBg{
        top:4%;
    }

    @keyframes changeBtnBg{
        from{
            opacity: 1;
        }
        to{
            opacity: 0.4;
        }
    }
</style>

<script type="text/javascript">
  export default {
    name: 'BtnImg',
    data() {
      return {}
    },
    props: ['btnImg', 'btnBgImgUrl'],
    mounted() {},
    methods: {

      changeBtnLgiht() {
        setInterval(() => {
          if (this.btnStatus == 1) {
            this.setBtnLgihtStatus1()
            this.btnStatus = 2;
          } else {
            this.setBtnLgihtStatus1()
            this.btnStatus = 1;
          }
        }, 1200)
      },

      setBtnLgihtStatus1() {
        console.log(this.btnStatus);
        $('.btn img').removeClass('active');
      },
      setBtnLgihtStatus2() {
        console.log(this.btnStatus);
        console.log($('.btn img'))
        $('.btn img').addClass('active');
      },
    }
  }

</script>
