<template>

  <div class="abs videoBoxBg">
    <!-- <div :class="[setPlayVideoClass]" ref="videoBox" @click="clickPlay"> -->
    <div class="abs videoBox" ref="videoBox" @click="clickPlay">
      <video id="video" class="video1" src="@/media/moviegd.mp4" ref="playBtn" width="100%" height="auto"
        x5-video-player-type="h5" x5-video-player-fullscreen="true" webkit-playsinline="true" x-webkit-airplay="true"
        playsinline="true" preload="auto" poster="" control="control"></video>
      <!-- <video id="video" class="video1" src="@/media/video5.mp4" ref="playBtn" width="100%" height="auto" preload="auto"
      poster="" @click="clickPlay"></video> -->

      <div class="abs skip js-none" ref="skip" @click="skipVideo">跳过</div>
    </div>
  </div>
  </div>
</template>

<style>
  .videoBoxBg{
    width:100%;
    height:100%;
    top:0;
    left:0;
    background: #000;
    z-index: 20;
  }
  .videoBox {

    width:100%;
    /* height:100%; */

    left: 0;
    /* left: 100%; */
    top: 50%;
    transform: translate3d(0, -50%, 0);


    /* left:100%;
    width: 100vh !important;
    transform: rotate(90deg);
    transform-origin: 0 0; */


    -webkit-transition: all 1s ease;
    transition: all 1s ease;

    z-index: 20;

  }
  .videoBox.active::before{
    content: '';
    display: block;
    position: absolute;
    width: 110%;
    height: 130%;
    top: -15%;
    left: -5%;
    background: #000;
    z-index: -1;
  }

  .skip {
    top: 120px;
    right: 27px;
    /* font-size: 28px; */
    font-size: 26px;
    letter-spacing:5px;
    color: #fff;
    transform: rotate(90deg);
    opacity: 0.7;
  }

  .skip::before {
    content: '';
    display: block;
    position: absolute;
    top: -15px;
    right: -15px;
    bottom: -15px;
    left: -15px;
  }

</style>

<script type="text/javascript">
  export default {
    name: 'playVideo',
    data() {
      return {
        setPlayVideoClass: 'abs videoBox',
        canClick: true,
        clickTimeout: '',
      }
    },
    mounted() {
      this.$on('play', () => {
        this.playVideo();
      })
    },
    methods: {
      playVideo() {
        var videoBox = this.$refs.videoBox;
        var video = this.$refs.playBtn;
        video.play();

        // videoBox.style.left = '-39%';
        // videoBox.style.top = '21.7%';

        // videoBox.style.left = '100%';
        // videoBox.style.display = 'block';
        // videoBox.style.left = 0;

        //监听帧数
        // var videoTime = ''
        // videoTime = setInterval(() => {
        //   console.log(video.currentTime.toFixed(1));
        //   if (video.currentTime.toFixed(1) == '0.1') {
        //     this.setPlayVideoClass = 'abs videoBox active';
        //     clearInterval(videoTime);
        //   }
        // })
        // 跳过出现

        video.addEventListener('ended', () => {
          videoBox.style.display = 'none';
          this.$f7.router.navigate('/page2/', {
            'reloadCurrent': true
          });
        })
      },
      skipVideo() {
        this.$refs.playBtn.pause();
        this.$refs.skip.style.display = 'none';
        gtag('event', 'skip ', {
          'event_category': 'cobranding',
          'event_label': 'click'
        });

        this.$f7.router.navigate('/page2/', {
          'reloadCurrent': true
        });
      },
      clickPlay() {
        // this.$refs.playBtn.play();

        this.$refs.skip.style.display = 'block';

        clearTimeout(this.clickTimeout);
        this.clickTimeout = setTimeout(() => {
          console.log('-----------------------------')
          this.$refs.skip.style.display = 'none';
        }, 3000)

      }
    }
  }

</script>
