<template>
  <div class="page page3">
    <div class="rel logo">
      <img src="@/images/page3/logo.png" alt="">
    </div>
    <div class="rel replay" ref="replayBtn" @click="replayVideo">
      <img src="@/images/page3/replay.png" alt="">
    </div>

    <div class="abs centerh ctx">

      <div class="rel bdImg">
        <img src="@/images/page3/bdImg.png" alt="">
      </div>
      <div class="rel center btn">
        <!-- <img src="@/images/page3/btn.png" alt=""> -->

        <div @click="outLink">
          <getBtnImg class="rel btn_1" :btnImg="btnImgUrl1" :btnBgImgUrl="btnBgImgUrl"></getBtnImg>
        </div>
        <div @click="showShareBox">
          <getBtnImg class="rel btn_2" :btnImg="btnImgUrl2"></getBtnImg>
        </div>

        <div class="abs arrowl"><img src="@/images/page3/arrow.png" alt=""></div>
        <div class="abs arrowr"><img src="@/images/page3/arrow.png" alt=""></div>

        <!-- <span class="abs link1" @click="outLink"></span> -->
        <!-- <span class="abs link2" @click="showShareBox"></span> -->
      </div>
      <!-- <div class="rel center btn1">
        <img src="@/images/page3/btn_share.png" alt="">
      </div>
      <div class="rel center btn2">
        <img src="@/images/page3/btn_link.png" alt="">
      </div> -->

    </div>

    <div class="abs bottom">
      <img src="@/images/page3/bottom.png" alt="">
    </div>

    <div class="abs center tips">
      <img src="@/images/page3/tips.png" alt="">
    </div>


    <div class="abs closeVideoBg js-none" @click="playVideo2"></div>

    <video-box ref="videoBox" class="videoBox3 js-none"></video-box>

    <div class="fixed shareBox" v-if="shareBoxShow" @click="hideShareBox">
      <div class="abs center centerh shareTxt">
        <img src="@/images/share.png" alt="">
      </div>
    </div>
  </div>
</template>

<style scoped>
  .page3 {
    background: url(../images/page3/bg.jpg) 50% no-repeat;
    background-size: cover;
  }

  .logo {
    display: inline-block;
    width: 383px;
    margin-top: 20px;
    margin-left: 30px;
  }

  .replay {
    /* display: inline-block; */
    float: right;
    width: 161px;
    margin-top: 20px;
    margin-right: 30px;
  }

  .replay::after {
    content: '';
    position: absolute;
    top: -15px;
    right: -15px;
    bottom: -15px;
    left: -15px;
  }

  .ctx {
    width: 100%;
    left: 0;
    z-index: 5;
  }

  .bdImg {
    width: 100%;
    /* margin-left: 20px; */
  }

  .btn {
    width: 612px;
    margin-top: -70px;
  }

  .btn_1 {
    z-index: 2;
  }

  .btn_2 {
    margin-top: -65px;
    z-index: 1;
  }

  .link1 {
    display: inline-block;
    width: 100%;
    height: 40%;
    top: 10%;
    left: 0;
  }

  .link2 {
    display: inline-block;
    width: 100%;
    height: 40%;
    top: 50%;
    left: 0;
  }

  .btn1 {
    width: 419px;
  }

  .btn2 {
    width: 392px;
  }

  .arrowl {
    width: 123px;
    left: -10%;
    top: 18%;
    animation: arrowlAn 0.5s infinite alternate;
    z-index: 10;
  }

  .arrowr {
    width: 123px;
    right: -10%;
    top: 18%;
    transform: rotate(180deg);
    transform-origin: 50% 48%;
    animation: arrowrAn 0.5s ease infinite alternate;
    z-index: 10;
  }

  @keyframes arrowlAn {
    from {
      left: -10%;
    }

    to {
      left: -8%;
    }
  }

  @keyframes arrowrAn {
    from {
      right: -10%;
    }

    to {
      right: -8%;
    }
  }

  .bottom {
    width: 100%;
    bottom: 0;
  }

  .tips {
    width: 301px;
    bottom: 20px;
  }

  .shareBox {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
    z-index: 5;
  }

  .shareTxt {
    width: 471px;
  }

  .closeVideoBg {
    width: 100%;
    height: 100%;
    top: 0;
    background: url(../images/page4/bg.jpg) 50% no-repeat;
    background-size: cover;
    z-index: 20;
  }

</style>

<script>
  import $ from 'jquery';
  import PVideo from '../components/PlayVideo.vue';
  import BtnImg from '../components/BtnImg.vue';

  export default {
    data() {
      return {
        page: null,
        shareBoxShow: false,
        btnImgUrl1: require("../images/page3/btn_link2.png"),
        btnImgUrl2: require("../images/page3/btn_share.png"),
        btnBgImgUrl: require("../images/page3/btnBg.png"),
      };
    },
    components: {
      'video-box': PVideo,
      'getBtnImg': BtnImg,
    },
    created: function () {

    },
    methods: {
      replayVideo() {
        gtag('event', 'play_again1', {
          'event_category': 'cobranding',
          'event_label': 'click'
        });

        $('.videoBox3').show();
        this.$refs.videoBox.$emit('play');

        $('.closeVideoBg').fadeIn();
        // this.$f7.router.navigate('/page5/', {
        //   'reloadCurrent': true
        // });
      },
      playVideo2() {
        this.$f7.router.navigate('/page2/', {
          'reloadCurrent': true
        });
      },

      showShareBox() {
        this.shareBoxShow = true;
        gtag('event', 'share', {
          'event_category': 'cobranding',
          'event_label': 'click'
        });
      },
      hideShareBox() {
        this.shareBoxShow = false;
      },
      outLink() {
        gtag('event', 'surprise', {
          'event_category': 'cobranding',
          'event_label': 'click'
        });
        window.location.replace('http://tb.cn/V1XJHLw')
      },

    },
    on: {
      pageInit(event, page) {
        this.page = page;
        console.log(page.view.id + ': page init ' + page.route.url);
      },
      pageReinit(event, page) {
        console.log(page.view.id + ': page reinit ' + page.route.url);
      },
      pageBeforeIn(event, page) {
        console.log(page.view.id + ': page before in ' + page.route.url);
      },
      pageAfterIn(event, page) {
        console.log(page.view.id + ': page after in ' + page.route.url);
      },
      pageBeforeOut(event, page) {
        console.log(page.view.id + ': page before out ' + page.route.url);
      },
      pageAfterOut(event, page) {
        console.log(page.view.id + ': page after out ' + page.route.url);
      },
      pageBeforeRemove(event, page) {
        console.log(page.view.id + ': page before remove ' + page.route.url);
      }
    }
  }

</script>
