<template>
  <div class="pagebox">
    <div class="page page4">
      <div class="rel logo">
        <img src="@/images/page4/logo.png" alt="">
      </div>

      <div class="abs center centerh txt">
        <img src="@/images/page4/txt.png" alt="">
      </div>

      <div class="abs bottom">
        <img src="@/images/page2/bottom.png" alt="">
      </div>
    </div>

    <page-3 class="page_3 js-none"></page-3>
    <div class="page page2 js-none" ref="page_2">
      <div class="rel logo">
        <img src="@/images/page3/logo.png" alt="">
      </div>
      <div class="rel replay" ref="replayBtn" @click="replayVideo">
        <img src="@/images/page3/replay.png" alt="">
      </div>

      <div class="abs centerh ctx">
        <div class="rel title">
          <img src="@/images/page2/title.png" alt="">

          <div class="iconBox">
            <div class="abs icon icon1 an">
              <img src="@/images/page2/icon_1.png" alt="">
            </div>
            <div class="abs icon icon2 an">
              <img src="@/images/page2/icon_2.png" alt="">
            </div>
            <div class="abs icon icon3 an">
              <img src="@/images/page2/icon_3.png" alt="">
            </div>
            <div class="abs icon icon4 an">
              <img src="@/images/page2/icon_4.png" alt="">
            </div>
            <div class="abs icon icon5 an">
              <img src="@/images/page2/icon_4.png" alt="">
            </div>
            <div class="abs icon icon6 an">
              <img src="@/images/page2/icon_4.png" alt="">
            </div>
          </div>

        </div>
        <div class="rel bdImg clearfix">
          <div class="bdImgFlt">
            <img src="@/images/page2/img.png" alt="">
            <div class="abs imgInfo">
              <img src="@/images/page2/imgInfo.png" alt="">
            </div>
          </div>
        </div>
        <div class="rel center btn" ref="nextBtn" @click="nextPage">
          <!-- <img src="@/images/page2/btn.png" alt=""> -->
          <getBtnImg class="page2_btnBgbox" :btnImg="btnImgUrl" :btnBgImgUrl="btnBgImgUrl"></getBtnImg>
        </div>
      </div>

      <div class="abs bottom">
        <img src="@/images/page2/bottom.png" alt="">
      </div>

      <div class="abs center tips">
        <img src="@/images/page2/tips.png" alt="">
      </div>

      <video-box ref="videoBox" class="videoBox2 js-none"></video-box>
    </div>

  </div>
</template>


<style scoped>
  .page4 {
    background: url(../images/page4/bg.jpg) 50% no-repeat;
    background-size: cover;
  }

  .page4 .logo {
    width: 153px;
    padding-top: 20px;
  }

  .page4 .txt {
    width: 240px;
  }

  .page2 {
    background: url(../images/page2/bg.jpg) 50% no-repeat;
    background-size: cover;
    opacity: 0;
  }

  .ctx {
    width: 100%;
    left: 0;
    z-index: 5;
  }

  .logo {
    display: inline-block;
    width: 383px;
    margin-left: 30px;
    padding-top: 20px;
  }

  .replay {
    /* display: inline-block; */
    float: right;
    width: 161px;
    margin-top: 20px;
    margin-right: 30px;
  }


  .title {
    width: 468px;
    margin-top: 40px;
  }

  .iconBox .icon1 {
    width: 72px;
    top: 10px;
    left: 70px;
  }

  .iconBox .icon2 {
    width: 63px;
    top: 180px;
    left: 300px;
  }

  .iconBox .icon3 {
    width: 120px;
    top: 400px;
    left: 70px;
  }

  .iconBox .icon4 {
    width: 27px;
    top: 26px;
    left: 350px;
  }

  .iconBox .icon5 {
    width: 27px;
    top: 200px;
    left: 35px;
    transform: scale(0.9, 0.9);
  }

  .iconBox .icon6 {
    width: 27px;
    top: 420px;
    left: 300px;
    transform: scale(0.6, 0.6) rotate(30deg);
  }

  .iconBox .icon.an {
    animation: iconFloat 8s linear 0s infinite;
  }

  .iconBox .icon1.an {
    animation-duration: 5s;
    animation-delay: 0s;
  }

  .iconBox .icon2.an {
    animation-duration: 6s;
    animation-delay: 1s;
  }

  .iconBox .icon3.an {
    animation-delay: 0.3s;
  }

  .iconBox .icon4.an {
    animation-delay: 2s;
  }

  .iconBox .icon5.an {
    animation-delay: 1s;
  }

  .iconBox .icon6.an {
    animation-delay: 3s;
  }

  @keyframes iconFloat {
    0% {
      transform: translate3d(0, 0, 0);
    }

    12% {
      transform: translate3d(10%, 5%, 0);
    }

    25% {
      transform: translate3d(20%, 10%, 0);
    }

    50% {
      transform: translate3d(0, 0%, 0);
    }

    62% {
      transform: translate3d(-10%, -5%, 0);
    }

    75% {
      transform: translate3d(-20%, -10%, 0);
    }

    100% {
      transform: translate3d(0, 0, 0);
    }
  }

  .bdImg {
    margin-top: -255px;
  }

  .bdImgFlt {
    float: right;
    width: 644px;
  }

  .imgInfo {
    width: 200px;
    right: 45px;
    bottom: 35px;
  }

  .tips {
    width: 301px;
    bottom: 20px;
  }

  .btn {
    width: 415px;
    margin-top: -5px;
  }

  .bottom {
    width: 100%;
    bottom: 0;
  }

</style>


<script>
  import $ from 'jquery';
  import PVideo from '../components/PlayVideo.vue';
  import BtnImg from '../components/BtnImg.vue';

  import Page3 from '../pages/page3.vue';

  export default {
    data() {
      return {
        page: null,
        btnImgUrl: require("../images/page2/btn.png"),
        btnBgImgUrl: require("../images/page2/btnBg.png"),
      };
    },
    components: {
      'video-box': PVideo,
      'getBtnImg': BtnImg,
      'page-3': Page3,
    },
    created: function () {
      gtag('config', 'UA-120539106-3', {
        'page_title': 'cobranding_p2',
      });
    },
    mounted() {
      setTimeout(() => {
        this.$refs.page_2.style.opacity = 1;
        $('.page2').fadeIn(1000);
        $('.page4').fadeOut(1000);
      }, 2000)
    },
    methods: {

      replayVideo() {
        gtag('event', 'play_again2', {
          'event_category': 'cobranding',
          'event_label': 'click'
        });

        $('.videoBox2').show();
        this.$refs.videoBox.$emit('play');

        $('.closeVideoBg').fadeIn();
      },

      nextPage() {
        console.log(this.$refs.nextBtn)
        gtag('event', 'join', {
          'event_category': 'cobranding',
          'event_label': 'click'
        });
        $('.page2').fadeOut();
        $('.page_3').fadeIn();

        gtag('config', 'UA-120539106-3', {
          'page_title': 'cobranding_p3',
        });
        // setTimeout(() => {

        //   this.$f7.router.navigate('/page3/', {
        //     'reloadCurrent': true
        //   });
        // }, 150)
      },
    },
    on: {
      pageInit(event, page) {
        this.page = page;
        console.log(page.view.id + ': page init ' + page.route.url);
      },
      pageReinit(event, page) {
        console.log(page.view.id + ': page reinit ' + page.route.url);
      },
      pageBeforeIn(event, page) {
        console.log(page.view.id + ': page before in ' + page.route.url);
      },
      pageAfterIn(event, page) {
        console.log(page.view.id + ': page after in ' + page.route.url);
      },
      pageBeforeOut(event, page) {
        console.log(page.view.id + ': page before out ' + page.route.url);
      },
      pageAfterOut(event, page) {
        console.log(page.view.id + ': page after out ' + page.route.url);
      },
      pageBeforeRemove(event, page) {
        console.log(page.view.id + ': page before remove ' + page.route.url);
      }
    }
  }

</script>
