<template>
  <div class="page page1">
    <div class="abs centerh ctx">
      <div class="abs center ctxBg"></div>
      <div class="rel logo">
        <img src="@/images/page1/logo.png" alt="">
      </div>
      <div class="rel mcenter doorImg">
        <img src="@/images/page1/door.png" alt="">
      </div>
      <div class="pageLoadBefore" ref="pageLoadBefore">
        <div class="abs center loadingBox"><i></i></div>
      </div>

      <div class="rel mcenter txt">
        <img src="@/images/page1/txt.png" alt="">
      </div>

      <div class="pageLoadAfter" ref="pageLoadAfter">
        <div class="rel mcenter btn" ref="nextBtn" @click="playVideo">
          <!-- <img src="@/images/page1/btn.png" alt="" :class="btnStatus == 1? 'active' : ''" ref="btnImg"> -->
          <getBtnImg :btnImg="btnImgUrl" :btnBgImgUrl="btnBgImgUrl"></getBtnImg>
        </div>
      </div>
    </div>

    <div class="fixed tipBox js-none">
      <div class=" abs center centerh tipImg">
        <img src="@/images/page1/tipImg.png" alt="">
      </div>
    </div>

    <!-- <div class="abs closeVideoBg js-none" @click="playVideo2"></div> -->

    <video-box ref="videoBox" class="videoBox js-none"></video-box>

  </div>

</template>


<style scoped>
  .page1 {
    background: url(../images/page1/bg.jpg) 50% no-repeat;
    background-size: cover;
  }

  .ctx {
    width: 100%;
    /* height: 1080px; */
    left: 0;
  }

  .ctxBg {
    width: 95%;
    height: 100%;
    top: 0;
    border: 70px solid #000;
    border-image: url(../images/page1/border.png) 70;
  }

  .logo {
    width: 152px;
    margin-top: 30px;
    margin-left: 75px;
  }

  .doorImg {
    width: 622px;
    margin-top: 60px;
  }

  .txt {
    width: 329px;
  }

  .btn {
    width: 320px;
    margin: 125px auto;
  }

  .btn::active {
    position: relative;
    top: 1px;
  }

  .videoBox {
    /* left: 100%; */
    /* width: 1px;
    height: 1px; */
  }


  .loadingBox {
    top: 73%;
    width: 40%;
    height: 20px;
    background: rgba(255, 255, 255, 0.4);
    overflow: hidden;
  }

  .loadingBox i {
    display: block;
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
  }

  .txt {
    opacity: 0;
  }

  .txt.an {
    animation: fade_In 1s linear;
    animation-fill-mode: forwards;
  }

  .pageLoadAfter {
    opacity: 0;
  }

  .pageLoadAfter.an {
    animation: fade_In 1s linear;
    animation-fill-mode: forwards;
  }

  .tipBox {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 1);
    z-index: 20;
  }

  .tipImg {
    width: 204px;
  }

  /* .tipTxt {
    width: 258px;
  } */

  .closeVideoBg {
    width: 100%;
    height: 100%;
    top: 0;
    background: url(../images/page4/bg.jpg) 50% no-repeat;
    background-size: cover;
  }

  @keyframes fade_In {
    from {
      opacity: 0;
    }

    to {
      opacity: 1;
    }
  }

</style>


<script>
  import $ from 'jquery';
  import PVideo from '../components/PlayVideo.vue';
  import BtnImg from '../components/BtnImg.vue';
  // import Page2 from '../pages/page2.vue';

  export default {
    data() {
      return {
        page: null,
        canClick: false,
        goNextPage: false,
        btnStatus: 1,
        btnImgUrl: require("../images/page1/btn.png"),
        btnBgImgUrl: require("../images/page1/btnBg.png"),
      };
    },
    components: {
      'video-box': PVideo,
      'getBtnImg': BtnImg,
    },
    created: function () {
      gtag('config', 'UA-120539106-3', {
        'page_title': 'cobranding_p1',
      });
    },
    mounted() {
      // start loading an
      this.loadImg();
    },
    methods: {
      startLoading() {
        var _num = -100;
        var _progress = setInterval(() => {
          _num++;
          $('.loadingBox i').css('left', _num + '%');
          if (_num == '-90') {
            $('.txt').addClass('an');
          } else if (_num == '0') {
            clearInterval(_progress);
            $('.pageLoadBefore').fadeOut();
            $('.pageLoadAfter').addClass('an');
            this.canClick = true;
            //改变btn
            // this.changeBtnLgiht();
          }
        }, 20)
      },

      loadImg() {
        var loadImgNumber = 0;
        var imgLoadArr = [
          require('../images/page1/bg.jpg'),
          require('../images/page2/bg.jpg'),
          require('../images/page3/bg.jpg'),
          require('../images/page4/bg.jpg'),
          require('../images/page1/border.png'),
          require('../images/page1/door.png'),
          require('../images/page2/bottom.png'),
          require('../images/page2/img.png'),
          require('../images/page2/title.png'),
          require('../images/page3/bdImg.png'),
          require('../images/page3/bottom.png'),
          require('../images/page3/btn.png'),
          require('../images/page3/btn2.png'),
          require('../images/share_img.jpg'),
        ]
        for (var i = 0; i < imgLoadArr.length; i++) {
          var img = new Image();
          img.onload = () => {
            if (loadImgNumber == 5) {
              this.startLoading();
            }
            loadImgNumber++;
          }
          img.src = imgLoadArr[i];
        }
      },

      nextPage() {
        if (this.canClick) {
          this.$f7.router.navigate('/page2/', {
            'reloadCurrent': true
          });
        }
      },


      playVideo() {
        $('.tipBox').fadeIn();


        setTimeout(() => {
          this.goNextPage = true;

          $('.videoBox').show();
          this.$refs.videoBox.$emit('play');

          $('.tipImg').fadeOut();

          setTimeout(() => {
            // $('.closeVideoBg').fadeIn();
            // $('.tipBox').fadeOut();
          }, 1000)
        }, 1000)

        gtag('event', 'enter', {
          'event_category': 'cobranding',
          'event_label': 'click'
        });
      },
      // playVideo2() {
      //   if (this.goNextPage) {
      //     this.$f7.router.navigate('/page2/', {
      //       'reloadCurrent': true
      //     });
      //   }
      // }

      changeBtnLgiht() {
        setInterval(() => {
          if (this.btnStatus == 1) {
            this.setBtnLgihtStatus1()
            this.btnStatus = 2;
          } else {
            this.setBtnLgihtStatus1()
            this.btnStatus = 1;
          }
        }, 1200)
      },

      setBtnLgihtStatus1() {
        console.log(this.btnStatus);
        $('.btn img').removeClass('active');
      },
      setBtnLgihtStatus2() {
        console.log(this.btnStatus);
        console.log($('.btn img'))
        $('.btn img').addClass('active');
      },

    },
    on: {
      pageInit(event, page) {
        this.page = page;
        console.log(page.view.id + ': page init ' + page.route.url);
      },
      pageReinit(event, page) {
        console.log(page.view.id + ': page reinit ' + page.route.url);
      },
      pageBeforeIn(event, page) {
        console.log(page.view.id + ': page before in ' + page.route.url);
      },
      pageAfterIn(event, page) {
        console.log(page.view.id + ': page after in ' + page.route.url);

      },
      pageBeforeOut(event, page) {
        console.log(page.view.id + ': page before out ' + page.route.url);
      },
      pageAfterOut(event, page) {
        console.log(page.view.id + ': page after out ' + page.route.url);
      },
      pageBeforeRemove(event, page) {
        console.log(page.view.id + ': page before remove ' + page.route.url);
      }
    }
  }

</script>
