.page1 {
  background: url(../images/page1/bg.jpg) 50% no-repeat;
  background-size: cover;
}

.ctx {
  width: 100%;
  /* height: 1080px; */
  left: 0;
}

.ctxBg {
  width: 95%;
  height: 100%;
  top: 0;
  border: 70px solid #000;
  border-image: url(../images/page1/border.png) 70;
}

.logo {
  width: 152px;
  margin-top: 30px;
  margin-left: 75px;
}

.doorImg {
  width: 622px;
  margin-top: 60px;
}

.txt {
  width: 329px;
}

.btn {
  width: 320px;
  margin: 125px auto;
}

.btn::active {
  position: relative;
  top: 1px;
}

.videoBox {
  /* left: 100%; */
  /* width: 1px;
    height: 1px; */
}


.loadingBox {
  top: 73%;
  width: 40%;
  height: 20px;
  background: rgba(255, 255, 255, 0.4);
  overflow: hidden;
}

.loadingBox i {
  display: block;
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}

.txt {
  opacity: 0;
}

.txt.an {
  animation: fade_In 1s linear;
  animation-fill-mode: forwards;
}

.pageLoadAfter {
  opacity: 0;
}

.pageLoadAfter.an {
  animation: fade_In 1s linear;
  animation-fill-mode: forwards;
}

.tipBox {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 1);
  z-index: 20;
}

.tipImg {
  width: 204px;
}

/* .tipTxt {
    width: 258px;
  } */

.closeVideoBg {
  width: 100%;
  height: 100%;
  top: 0;
  background: url(../images/page4/bg.jpg) 50% no-repeat;
  background-size: cover;
}

@keyframes fade_In {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
