<template>
  <!-- App -->
  <div id="app">


    <!-- Main View -->
    <f7-view url="/" main :pushState="pushStateChange" :pushStateSeparator="'#!'" :iosSwipeBack="false" :animate="false"
      :preloadPreviousPage="true">
    </f7-view>

    <!-- Popup
    <f7-popup>
      <f7-view popup>
      </f7-view>
    </f7-popup>  -->


    <wechat-share ref="wechatshare"></wechat-share>

  </div>
</template>

<script>
  import WechatShare from './components/WechatShare.vue';

  export default {

    data() {

      return {
        pushStateChange: window.location.port == "" ? false : true,
        main: {

        },
        popup: {

        },

      };

    },
    components: {
      'wechat-share': WechatShare
    },

    methods: {
      onF7Ready(f7) {

        this.$refs.wechatshare.$emit('useShare');


      },

    },



  }

</script>
