<template>
  <div class="page page5">

    <div class="abs closeVideoBg" @click="playVideo2"></div>

    <video-box ref="videoBox"></video-box>

  </div>

</template>


<style scoped>
  .page5 {}

  .closeVideoBg {
    width: 100%;
    height: 100%;
    top: 0;
    background: url(../images/page4/bg.jpg) 50% no-repeat;
    background-size: cover;
  }

</style>

<script>
  import $ from 'jquery';
  import PVideo from '../components/PlayVideo.vue';

  export default {
    data() {
      return {
        page: null,
        canClick: false,
        goNextPage: false
      };
    },
    components: {
      'video-box': PVideo,
    },
    created: function () {},
    mounted() {},
    methods: {

      playVideo2() {
        this.$f7.router.navigate('/page2/', {
          'reloadCurrent': true
        });
      }
    },
    on: {
      pageInit(event, page) {
        this.page = page;
        console.log(page.view.id + ': page init ' + page.route.url);
      },
      pageReinit(event, page) {
        console.log(page.view.id + ': page reinit ' + page.route.url);
      },
      pageBeforeIn(event, page) {
        console.log(page.view.id + ': page before in ' + page.route.url);
      },
      pageAfterIn(event, page) {
        console.log(page.view.id + ': page after in ' + page.route.url);

      },
      pageBeforeOut(event, page) {
        console.log(page.view.id + ': page before out ' + page.route.url);
      },
      pageAfterOut(event, page) {
        console.log(page.view.id + ': page after out ' + page.route.url);
      },
      pageBeforeRemove(event, page) {
        console.log(page.view.id + ': page before remove ' + page.route.url);
      }
    }
  }

</script>
